@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}
/* Variable */
:root {
  --black: #0e2431;
  --red: #fc3a52;
  --yellow: #fc3a52;
  /* --yellow: #fadf12; */
  --optional: #e8d5b7;
  --white: #fff;
}
.btn{
    background-color: var(--black) !important;
    border: none !important;
}
/* Blog Section   */
.blog-container{
  height: auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 30px 0px ;
  padding-left: 20px;
}
.card {
  height: 450px; /* Fixed height for cards */
  display: flex;
  flex-direction: column; 
}

.card h5 {
  white-space: nowrap; 
  overflow: hidden;     
  text-overflow: ellipsis; 
}

.card-text {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;  
  overflow: hidden;       
  text-overflow: ellipsis; 
}

.card {
  margin-bottom: 20px; /* Space between cards */
}
