@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}
/* Variable */
:root {
  --black: #0e2431;
  --red: #fc3a52;
  --yellow: #fc3a52;
  /* --yellow: #fadf12; */
  --optional: #e8d5b7;
  --white: #fff;
}
/* button  */
.btn-color {
  background-color: var(--black) !important;
  color: var(--white);
}
/* Anchor Btn  */
a {
  text-decoration: none;
}

.active-h {
  border-bottom: 2px solid var(--red);
  color: var(--red) !important;
}

/* Top Nav Start  */
.tnav {
  justify-content: space-between;
  align-items: center;
  display: flex;
  height: 40px;
  width: 100%;
  padding: 0 50px;
  background-color: var(--black);
}
.tcol1 {
  height: 100%;
  width: 70%;
  display: flex;
  align-items: center;
  gap: 50px;

  a {
    display: flex;
    gap: 10px;
    align-items: center;
    text-decoration: none;
    color: var(--white);
    font-size: 14px;
  }
}
.tcol2 {
  justify-content: end;
  height: 100%;
  width: 30%;
  display: flex;
  align-items: center;

  a {
    display: flex;
    gap: 10px;
    align-items: center;
    text-decoration: none;
    color: var(--white);
    font-size: 14px;
  }
}
/* Top Nav End  */

@media (min-width: 992px) {
  .padded-navbar {
      padding-left: 30px;
      padding-right: 30px;
  }
}
 .navbar-nav{
  font-weight: 650;
 }
/* Nav Bar Start*/

.carousel-inner img {
  height: 500px;
  object-fit: cover;
}

/* About Section Start  */
.about {
  background-image: url('https://img.freepik.com/free-photo/minimalist-blue-white-wave-background_1017-46756.jpg?t=st=1729675322~exp=1729678922~hmac=3108a87232c2171940f1659078c7c13c21124ca135d955a70a1ea466ae267b48&w=996');
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  gap: 30px;
  padding: 70px 0;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: auto;
  width: 100%;

  >h6 {
    font-weight: 700;
    border-bottom: 1px solid var(--yellow);
    text-transform: uppercase;
    border-radius: 5px;
    font-size: 20px;
  }
  h2 {
    font-weight: 800;
  }
}
.about-row {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.about-col1 {
  height: 500px;
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
}
.about-col2 {
  height: 500px;
  width: 45%;
  overflow: hidden;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
  display: flex;
  align-items: center;
  img {
    width: 100%;
  }
}

.feature-card {
  gap: 10px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 10px;
  align-items: center;
  border: 1px solid #f1f1f1;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.feature-card:hover {
  transform: scale(1.05);
}

.feature-card i {
  font-size: 2rem;
  color: var(--red);
}

.feature-card p {
  font-weight: 700;
  font-size: 1rem;
}
/* About Section End  */

/* Services Section Start  */
.services {
  gap: 20px;
  padding: 50px 0;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--black);
  color: var(--white);
  h6 {
    border-bottom: 1px solid var(--yellow);
    text-transform: uppercase;
    border-radius: 5px;
  }
}
.card-container {
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px 10px;
  height: auto;
  width: 100%;
  display: flex;
}
.card {
  overflow: hidden;
  width: 20rem;
}
.zoom {
  transition: transform 0.5s ease;
}

.zoom:hover {
  transform: scale(1.1);
}
/* Services Section End  */

/* Statistics Section Start  */
.achievement-section {
  overflow: hidden;
  position: relative;
  background-attachment: fixed;
  background-image: url("images/state_bg.jpg");
  background-size: cover;
  background-position: center;
  color: white;
  padding: 50px 0;
}
.achievement-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(14, 36, 49, 0.7);
  z-index: 1;
}
.achievement-content {
  position: relative;
  z-index: 2;
  i{
      font-size: 40px;
      padding-bottom: 20px;
  }
  h3{
    font-size: 50px;
  }
}
/* Statistics Section End  */

/* Project Section Start  */
.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--black);
  background-color: transparent !important;
  .p-title {
    display: block;
    margin: 0 auto;
    width: fit-content;
    border-bottom: 1px solid var(--yellow);
    text-transform: uppercase;
    border-radius: 5px;
    text-align: center;
    font-weight: 800;
  }
  a{
    color: var(--black);
  }
}
.card-img-top {
  height: 200px !important;
  object-fit: cover;
}
.custom-col {
  margin: 0.5rem;
}
.card-text {
  white-space: normal;
  word-wrap: break-word;
}
.card-body {
  height: fit-content;
  overflow: hidden;
  .btn {
    background-color: #0e2431;
    color: white;
    border: none; 
}

/* Hover effect for buttons */
.btn:hover {
    background-color:#042233;
    color:var(--white);
}
}
/* Project Section End  */

/* Area Section Start  */
.area {
  color: #fff;
  background-color: #0e2431;
  padding: 40px;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  h6 {
    text-transform: uppercase;
    font-weight: 700;
    border-bottom: 1px solid var(--yellow);
    border-radius: 5px;
  }

  h3 {
    font-weight: 700;
  }

  p {
    text-align: center;
  }
}

.prt-areas {
  gap: 10px;
  height: auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.area-card {
  position: relative;
  width: 180px;
  height: 180px;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  border-radius: 8px;
  transition: transform 0.3s ease, opacity 0.3s ease;

  &:hover {
    transform: scale(1.05);
    cursor: pointer;
    .area-card-overlay {
      background-color: rgba(14, 36, 49, 0.7);
    }

    .area-card-content {
      opacity: 1;
      transform: translateY(0);
    }
    .default-area-name {
      opacity: 0;
    }
  }
  &.area-card-1 {
    background-image: url("https://img.freepik.com/premium-photo/fintech-real-estate-investment_1167636-6008.jpg?w=740");
  }

  &.area-card-2 {
    background-image: url("https://img.freepik.com/premium-photo/highrise-buildings-are-common-urban-areas_10541-15290.jpg?w=900");
  }

  &.area-card-3 {
    background-image: url("https://img.freepik.com/premium-photo/urban-regeneration-projects-are-widespread_10541-15499.jpg?w=900");
  }

  &.area-card-4 {
    background-image: url("https://img.freepik.com/premium-photo/highrise-buildings-are-common-urban-areas_10541-15508.jpg?w=900");
  }

  &.area-card-5 {
    background-image: url("https://img.freepik.com/premium-photo/new-luxury-residential-buildings-stylish-office-building-premium-apartments-flat-building_71956-25406.jpg?w=740");
  }

  &.area-card-6 {
    background-image: url("https://img.freepik.com/premium-photo/cityscape-residential-area-with-modern-apartments-showcasing-urban-living-real-estate-investmen_1294264-4750.jpg?w=740");
  }

  .area-card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(14, 36, 49, 0.4);
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .area-card-content {
    text-align: center;
    color: white;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.3s ease, transform 0.3s ease;

    h3 {
      font-size: 20px;
      margin: 0;
    }

    p {
      font-size: 14px;
      margin: 5px 0 0;
    }
  }
  .default-area-name {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    text-align: center;
    color: white;
    font-weight: bold;
    transition: opacity 0.3s ease;
  }
}
/* Area Section End  */

/* Client Section Start  */
.clients {
  justify-content: center;
  gap: 10px;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
  padding: 50px;
  h6 {
    text-transform: uppercase;
    font-weight: 800;
    border-bottom: 1px solid var(--yellow);
    border-radius: 5px;
  }
  h3 {
    font-weight: 700;
  }
}
.client-card {
  border: 1px solid #0e2431;
  border-radius: 8px;
  overflow: hidden;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    height: 150px;
    object-fit: cover;
  }
}
/* Client Section End  */

  
/* Why Choose Us Section Start  */
.wcs{
  background-image: url('https://digicoders.in/public/assets/images/bg/home-infotechno-contact-bg.jpg');
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0;
  .sub-h{
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: 800;
    border-bottom: 1px solid var(--yellow);
    border-radius: 5px;
  }
}
section {
  background-color: #fff;
  .sub-title{
    width: fit-content;
    text-transform: uppercase;
    font-weight: 800;
    border-bottom: 1px solid var(--yellow);
    border-radius: 5px;
  }
  i{
    font-size: 20px;
    color: var(--red);
  }
}
/* Why Choose Us Section End  */

/* Testimonials Section  */
.testimonial {
  background: #f8f9fa;
  border-radius: 10px;
  padding: 20px;
  transition: transform 0.3s;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.testimonial:hover {
  background-color: #0e2431;
  color:white;
  transform: scale(1.05); 
 p {
      color: white;
  }
}

.testimonial-img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.testimonial-text {
  font-size: 1rem;
  color: #555;
}

.testimonial-author {
  font-weight: bold;
  margin-top: 10px;
}

@media (max-width: 768px) {
  .testimonial {
      margin-bottom: 20px;
  }
}
.star-rating >  i{
  color: #fde06f;
}
/* Testimonials Section  */


/* Footer Section Start  */
footer {
  color: var(--white);
  display: flex;
  height: auto;
  justify-content: space-between;
  gap: 15px;
  width: 100%;
  padding: 40px;
  background-color: var(--black);
  .flogo {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: var(--white);
    height: 270px;
    width: 33%;
    img {
      height: 60px;
      width:180px;
    }
    .icons {
      height: 40px;
      width: 100%;
      display: flex;
      gap: 10px;
      align-items: center;
      i {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40px;
        width: 40px;
        padding: 10px;
        border-radius: 50%;
        border: 1px solid var(--white);
        transition: transform 0.3s ease;
        color: var(--white);
        &:hover {
          transform: translateY(-10px);
          color: var(--white);
          background-color: var(--yellow);
        }
      }
    }
  }
  .quick-link {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 270px;
    width: 20%;
    a {
      width: fit-content;
      display: flex;
      gap: 10px;
      align-items: center;
      color: var(--white);
      &:hover {
        color: var(--yellow);
      }
    }
  }
  .getin {
    gap: 10px;
    display: flex;
    flex-direction: column;
    height: 270px;
    width: 43%;
    a {
      display: flex;
      gap: 10px;
      color: var(--white);
      align-items: center;
      height: auto;
      width: 100%;
      &:hover {
        color: var(--yellow);
      }
    }
  }
  .location {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 270px;
    width: 33%;
  }
}
/* Footer Us Section End  */

.b-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100%;
  background-color: var(--black);
  color: var(--white);
  a > img {
    height: 40px;
  }
}

/* Bottom Footer End  */

/* Master Buttons  */
.inquiry-box {
  position: fixed;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--red);
  color: var(--white);
  z-index: 9;
  cursor: pointer;
  height: 150px;
  width: 40px;
}

.inquiry-box p {
  margin-top: 75px;
  font-size: 25px;
  font-weight: 800;
  transform: rotate(-90deg);
}

.icon-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  color: var(--white);
  z-index: 9;
  cursor: pointer;
  height: 150px;
  width: 50px;
  gap: 5px;
  a img {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    width: 100%;
    color: var(--white);
    transition: transform 0.3s ease;
    color: var(--white);
    &:hover {
      transform: translateX(-10px);
      color: var(--white);
    }
  }
}

.call-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  right: 0;
  top: 95%;
  transform: translateY(-50%);
  background-color: var(--black);
  color: var(--white);
  z-index: 9999;
  cursor: pointer;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  a {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: var(--white);
    transition: transform 0.3s ease;
    color: var(--white);
  }
}
/* Master Button End  */

